body, html {
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container > div {
    margin: 10px;
    text-align: center;
  }